---
layout: null
sitemap: false
---

$baseurl: "{{ site.baseurl }}";
$body-background-color: #2B2E31;

$content-max-width: 800px;
$content-color: #222;
$content-background-color: #fff;

$brand-colour: #00CC99;
$brand-colour-light: mix($brand-colour, $content-background-color, 10%);

$nav-header-background-color: $brand-colour;
$nav-header-height: 60px;
$nav-background-color: #f2f6ee;
$nav-width: 300px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";

//$color1: hsla(95%, 100%, 95%, 1);
//$color2: hsla(122%, 95%, 83%, 1);
//$color3: hsla(165%, 100%, 40%, 1);
//$color4: hsla(188%, 46%, 36%, 1);
//$color5: hsla(347%, 21%, 35%, 1);