/*! Spectre.css Experimentals v0.5.8 | MIT License | github.com/picturepan2/spectre */
.form-autocomplete {
  position: relative;
}

.form-autocomplete .form-autocomplete-input {
  align-content: flex-start;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-line-pack: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  min-height: 1.6rem;
  padding: 0.1rem;
}

.form-autocomplete .form-autocomplete-input.is-focused {
  border-color: #0a8;
  box-shadow: 0 0 0 0.1rem rgba(0, 170, 136, 0.2);
}

.form-autocomplete .form-autocomplete-input .form-input {
  border-color: transparent;
  box-shadow: none;
  display: inline-block;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1.2rem;
  line-height: 0.8rem;
  margin: 0.1rem;
  width: auto;
}

.form-autocomplete .menu {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.form-autocomplete.autocomplete-oneline .form-autocomplete-input {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.form-autocomplete.autocomplete-oneline .chip {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.calendar {
  border: 0.05rem solid #d3d3d3;
  border-radius: 0.1rem;
  display: block;
  min-width: 280px;
}

.calendar .calendar-nav {
  align-items: center;
  background: #ececec;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  font-size: 0.9rem;
  padding: 0.4rem;
}

.calendar .calendar-body, .calendar .calendar-header {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.4rem 0;
}

.calendar .calendar-body .calendar-date, .calendar .calendar-header .calendar-date {
  -ms-flex: 0 0 14.28%;
  flex: 0 0 14.28%;
  max-width: 14.28%;
}

.calendar .calendar-header {
  background: #ececec;
  border-bottom: 0.05rem solid #d3d3d3;
  color: #b9b9b9;
  font-size: 0.7rem;
  text-align: center;
}

.calendar .calendar-body {
  color: #6d6d6d;
}

.calendar .calendar-date {
  border: 0;
  padding: 0.2rem;
}

.calendar .calendar-date .date-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  border: 0.05rem solid transparent;
  border-radius: 50%;
  color: #6d6d6d;
  cursor: pointer;
  font-size: 0.7rem;
  height: 1.4rem;
  line-height: 1rem;
  outline: 0;
  padding: 0.1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  width: 1.4rem;
}

.calendar .calendar-date .date-item.date-today {
  border-color: #5bffde;
  color: #0a8;
}

.calendar .calendar-date .date-item:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 170, 136, 0.2);
}

.calendar .calendar-date .date-item:focus, .calendar .calendar-date .date-item:hover {
  background: #7affe4;
  border-color: #5bffde;
  color: #0a8;
  text-decoration: none;
}

.calendar .calendar-date .date-item.active, .calendar .calendar-date .date-item:active {
  background: #009b7c;
  border-color: #008167;
  color: #fff;
}

.calendar .calendar-date .date-item.badge::after {
  position: absolute;
  right: 3px;
  top: 3px;
  transform: translate(50%, -50%);
}

.calendar .calendar-date .calendar-event.disabled, .calendar .calendar-date .calendar-event:disabled, .calendar .calendar-date .date-item.disabled, .calendar .calendar-date .date-item:disabled {
  cursor: default;
  opacity: 0.25;
  pointer-events: none;
}

.calendar .calendar-date.next-month .calendar-event, .calendar .calendar-date.next-month .date-item, .calendar .calendar-date.prev-month .calendar-event, .calendar .calendar-date.prev-month .date-item {
  opacity: 0.25;
}

.calendar .calendar-range {
  position: relative;
}

.calendar .calendar-range::before {
  background: #6affe1;
  content: "";
  height: 1.4rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.calendar .calendar-range.range-start::before {
  left: 50%;
}

.calendar .calendar-range.range-end::before {
  right: 50%;
}

.calendar .calendar-range.range-end .date-item, .calendar .calendar-range.range-start .date-item {
  background: #009b7c;
  border-color: #008167;
  color: #fff;
}

.calendar .calendar-range .date-item {
  color: #0a8;
}

.calendar.calendar-lg .calendar-body {
  padding: 0;
}

.calendar.calendar-lg .calendar-body .calendar-date {
  border-bottom: 0.05rem solid #d3d3d3;
  border-right: 0.05rem solid #d3d3d3;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 5.5rem;
  padding: 0;
}

.calendar.calendar-lg .calendar-body .calendar-date:nth-child(7n) {
  border-right: 0;
}

.calendar.calendar-lg .calendar-body .calendar-date:nth-last-child(-n+7) {
  border-bottom: 0;
}

.calendar.calendar-lg .date-item {
  align-self: flex-end;
  -ms-flex-item-align: end;
  height: 1.4rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}

.calendar.calendar-lg .calendar-range::before {
  top: 19px;
}

.calendar.calendar-lg .calendar-range.range-start::before {
  left: auto;
  width: 19px;
}

.calendar.calendar-lg .calendar-range.range-end::before {
  right: 19px;
}

.calendar.calendar-lg .calendar-events {
  flex-grow: 1;
  -ms-flex-positive: 1;
  line-height: 1;
  overflow-y: auto;
  padding: 0.2rem;
}

.calendar.calendar-lg .calendar-event {
  border-radius: 0.1rem;
  display: block;
  font-size: 0.7rem;
  margin: 0.1rem auto;
  overflow: hidden;
  padding: 3px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-container .carousel-item:nth-of-type(1), .carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-container .carousel-item:nth-of-type(2), .carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-container .carousel-item:nth-of-type(3), .carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-container .carousel-item:nth-of-type(4), .carousel .carousel-locator:nth-of-type(5):checked ~ .carousel-container .carousel-item:nth-of-type(5), .carousel .carousel-locator:nth-of-type(6):checked ~ .carousel-container .carousel-item:nth-of-type(6), .carousel .carousel-locator:nth-of-type(7):checked ~ .carousel-container .carousel-item:nth-of-type(7), .carousel .carousel-locator:nth-of-type(8):checked ~ .carousel-container .carousel-item:nth-of-type(8) {
  animation: carousel-slidein 0.75s ease-in-out 1;
  opacity: 1;
  z-index: 100;
}

.carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-nav .nav-item:nth-of-type(1), .carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-nav .nav-item:nth-of-type(2), .carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-nav .nav-item:nth-of-type(3), .carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-nav .nav-item:nth-of-type(4), .carousel .carousel-locator:nth-of-type(5):checked ~ .carousel-nav .nav-item:nth-of-type(5), .carousel .carousel-locator:nth-of-type(6):checked ~ .carousel-nav .nav-item:nth-of-type(6), .carousel .carousel-locator:nth-of-type(7):checked ~ .carousel-nav .nav-item:nth-of-type(7), .carousel .carousel-locator:nth-of-type(8):checked ~ .carousel-nav .nav-item:nth-of-type(8) {
  color: #ececec;
}

.carousel {
  background: #ececec;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  z-index: 1;
}

.carousel .carousel-container {
  height: 100%;
  left: 0;
  position: relative;
}

.carousel .carousel-container::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.carousel .carousel-container .carousel-item {
  animation: carousel-slideout 1s ease-in-out 1;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .carousel-container .carousel-item:hover .item-next, .carousel .carousel-container .carousel-item:hover .item-prev {
  opacity: 1;
}

.carousel .carousel-container .item-next, .carousel .carousel-container .item-prev {
  background: rgba(236, 236, 236, 0.25);
  border-color: rgba(236, 236, 236, 0.5);
  color: #ececec;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
  z-index: 100;
}

.carousel .carousel-container .item-prev {
  left: 1rem;
}

.carousel .carousel-container .item-next {
  right: 1rem;
}

.carousel .carousel-nav {
  bottom: 0.4rem;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 10rem;
  z-index: 100;
}

.carousel .carousel-nav .nav-item {
  color: rgba(236, 236, 236, 0.5);
  display: block;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1.6rem;
  margin: 0.2rem;
  max-width: 2.5rem;
  position: relative;
}

.carousel .carousel-nav .nav-item::before {
  background: currentColor;
  content: "";
  display: block;
  height: 0.1rem;
  position: absolute;
  top: 0.5rem;
  width: 100%;
}

@keyframes carousel-slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes carousel-slideout {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
.comparison-slider {
  height: 50vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
}

.comparison-slider .comparison-after, .comparison-slider .comparison-before {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.comparison-slider .comparison-after img, .comparison-slider .comparison-before img {
  height: 100%;
  object-fit: cover;
  object-position: left center;
  position: absolute;
  width: 100%;
}

.comparison-slider .comparison-before {
  width: 100%;
  z-index: 1;
}

.comparison-slider .comparison-before .comparison-label {
  right: 0.8rem;
}

.comparison-slider .comparison-after {
  max-width: 100%;
  min-width: 0;
  z-index: 2;
}

.comparison-slider .comparison-after::before {
  background: 0 0;
  content: "";
  cursor: default;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0.8rem;
  top: 0;
  z-index: 1;
}

.comparison-slider .comparison-after::after {
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 -5px, 0 5px;
  color: #fff;
  content: "";
  height: 3px;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translate(50%, -50%);
  width: 3px;
}

.comparison-slider .comparison-after .comparison-label {
  left: 0.8rem;
}

.comparison-slider .comparison-resizer {
  animation: first-run 1.5s 1 ease-in-out;
  cursor: ew-resize;
  height: 0.8rem;
  left: 0;
  max-width: 100%;
  min-width: 0.8rem;
  opacity: 0;
  outline: 0;
  position: relative;
  resize: horizontal;
  top: 50%;
  transform: translateY(-50%) scaleY(30);
  width: 0;
}

.comparison-slider .comparison-label {
  background: rgba(45, 45, 45, 0.5);
  bottom: 0.8rem;
  color: #fff;
  padding: 0.2rem 0.4rem;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes first-run {
  0% {
    width: 0;
  }
  25% {
    width: 2.4rem;
  }
  50% {
    width: 0.8rem;
  }
  75% {
    width: 1.2rem;
  }
  100% {
    width: 0;
  }
}
.filter .filter-tag#tag-0:checked ~ .filter-nav .chip[for=tag-0], .filter .filter-tag#tag-1:checked ~ .filter-nav .chip[for=tag-1], .filter .filter-tag#tag-2:checked ~ .filter-nav .chip[for=tag-2], .filter .filter-tag#tag-3:checked ~ .filter-nav .chip[for=tag-3], .filter .filter-tag#tag-4:checked ~ .filter-nav .chip[for=tag-4], .filter .filter-tag#tag-5:checked ~ .filter-nav .chip[for=tag-5], .filter .filter-tag#tag-6:checked ~ .filter-nav .chip[for=tag-6], .filter .filter-tag#tag-7:checked ~ .filter-nav .chip[for=tag-7], .filter .filter-tag#tag-8:checked ~ .filter-nav .chip[for=tag-8] {
  background: #0a8;
  color: #fff;
}

.filter .filter-tag#tag-1:checked ~ .filter-body .filter-item:not([data-tag~=tag-1]), .filter .filter-tag#tag-2:checked ~ .filter-body .filter-item:not([data-tag~=tag-2]), .filter .filter-tag#tag-3:checked ~ .filter-body .filter-item:not([data-tag~=tag-3]), .filter .filter-tag#tag-4:checked ~ .filter-body .filter-item:not([data-tag~=tag-4]), .filter .filter-tag#tag-5:checked ~ .filter-body .filter-item:not([data-tag~=tag-5]), .filter .filter-tag#tag-6:checked ~ .filter-body .filter-item:not([data-tag~=tag-6]), .filter .filter-tag#tag-7:checked ~ .filter-body .filter-item:not([data-tag~=tag-7]), .filter .filter-tag#tag-8:checked ~ .filter-body .filter-item:not([data-tag~=tag-8]) {
  display: none;
}

.filter .filter-nav {
  margin: 0.4rem 0;
}

.filter .filter-body {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.meter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ececec;
  border: 0;
  border-radius: 0.1rem;
  display: block;
  height: 0.8rem;
  width: 100%;
}

.meter::-webkit-meter-inner-element {
  display: block;
}

.meter::-webkit-meter-bar, .meter::-webkit-meter-even-less-good-value, .meter::-webkit-meter-optimum-value, .meter::-webkit-meter-suboptimum-value {
  border-radius: 0.1rem;
}

.meter::-webkit-meter-bar {
  background: #ececec;
}

.meter::-webkit-meter-optimum-value {
  background: #2ec4b6;
}

.meter::-webkit-meter-suboptimum-value {
  background: #ff9f1c;
}

.meter::-webkit-meter-even-less-good-value {
  background: #e71d36;
}

.meter:-moz-meter-optimum, .meter:-moz-meter-sub-optimum, .meter:-moz-meter-sub-sub-optimum, .meter::-moz-meter-bar {
  border-radius: 0.1rem;
}

.meter:-moz-meter-optimum::-moz-meter-bar {
  background: #2ec4b6;
}

.meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #ff9f1c;
}

.meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #e71d36;
}

.off-canvas {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}

.off-canvas .off-canvas-toggle {
  display: block;
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  transition: none;
  z-index: 1;
}

.off-canvas .off-canvas-sidebar {
  background: #ececec;
  bottom: 0;
  left: 0;
  min-width: 10rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.25s;
  z-index: 200;
}

.off-canvas .off-canvas-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  padding: 0.4rem 0.4rem 0.4rem 4rem;
}

.off-canvas .off-canvas-overlay {
  background: rgba(45, 45, 45, 0.1);
  border-color: transparent;
  border-radius: 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.off-canvas .off-canvas-sidebar.active, .off-canvas .off-canvas-sidebar:target {
  transform: translateX(0);
}

.off-canvas .off-canvas-sidebar.active ~ .off-canvas-overlay, .off-canvas .off-canvas-sidebar:target ~ .off-canvas-overlay {
  display: block;
  z-index: 100;
}

@media (min-width: 960px) {
  .off-canvas.off-canvas-sidebar-show .off-canvas-toggle {
    display: none;
  }

  .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    transform: none;
  }

  .off-canvas.off-canvas-sidebar-show .off-canvas-overlay {
    display: none !important;
  }
}
.parallax {
  display: block;
  height: auto;
  position: relative;
  width: auto;
}

.parallax .parallax-content {
  box-shadow: 0 1rem 2.1rem rgba(45, 45, 45, 0.3);
  height: auto;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  transition: all 0.4s ease;
  width: 100%;
}

.parallax .parallax-content::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.parallax .parallax-front {
  align-items: center;
  color: #fff;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 20px rgba(45, 45, 45, 0.75);
  top: 0;
  transform: translateZ(50px) scale(0.95);
  transition: transform 0.4s;
  width: 100%;
  z-index: 1;
}

.parallax .parallax-top-left {
  height: 50%;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 100;
}

.parallax .parallax-top-left:focus ~ .parallax-content, .parallax .parallax-top-left:hover ~ .parallax-content {
  transform: perspective(1000px) rotateX(3deg) rotateY(-3deg);
}

.parallax .parallax-top-left:focus ~ .parallax-content::before, .parallax .parallax-top-left:hover ~ .parallax-content::before {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.35) 0, transparent 50%);
}

.parallax .parallax-top-left:focus ~ .parallax-content .parallax-front, .parallax .parallax-top-left:hover ~ .parallax-content .parallax-front {
  transform: translate3d(4.5px, 4.5px, 50px) scale(0.95);
}

.parallax .parallax-top-right {
  height: 50%;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 100;
}

.parallax .parallax-top-right:focus ~ .parallax-content, .parallax .parallax-top-right:hover ~ .parallax-content {
  transform: perspective(1000px) rotateX(3deg) rotateY(3deg);
}

.parallax .parallax-top-right:focus ~ .parallax-content::before, .parallax .parallax-top-right:hover ~ .parallax-content::before {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 0.35) 0, transparent 50%);
}

.parallax .parallax-top-right:focus ~ .parallax-content .parallax-front, .parallax .parallax-top-right:hover ~ .parallax-content .parallax-front {
  transform: translate3d(-4.5px, 4.5px, 50px) scale(0.95);
}

.parallax .parallax-bottom-left {
  bottom: 0;
  height: 50%;
  left: 0;
  outline: 0;
  position: absolute;
  width: 50%;
  z-index: 100;
}

.parallax .parallax-bottom-left:focus ~ .parallax-content, .parallax .parallax-bottom-left:hover ~ .parallax-content {
  transform: perspective(1000px) rotateX(-3deg) rotateY(-3deg);
}

.parallax .parallax-bottom-left:focus ~ .parallax-content::before, .parallax .parallax-bottom-left:hover ~ .parallax-content::before {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.35) 0, transparent 50%);
}

.parallax .parallax-bottom-left:focus ~ .parallax-content .parallax-front, .parallax .parallax-bottom-left:hover ~ .parallax-content .parallax-front {
  transform: translate3d(4.5px, -4.5px, 50px) scale(0.95);
}

.parallax .parallax-bottom-right {
  bottom: 0;
  height: 50%;
  outline: 0;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 100;
}

.parallax .parallax-bottom-right:focus ~ .parallax-content, .parallax .parallax-bottom-right:hover ~ .parallax-content {
  transform: perspective(1000px) rotateX(-3deg) rotateY(3deg);
}

.parallax .parallax-bottom-right:focus ~ .parallax-content::before, .parallax .parallax-bottom-right:hover ~ .parallax-content::before {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 0, transparent 50%);
}

.parallax .parallax-bottom-right:focus ~ .parallax-content .parallax-front, .parallax .parallax-bottom-right:hover ~ .parallax-content .parallax-front {
  transform: translate3d(-4.5px, -4.5px, 50px) scale(0.95);
}

.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e5e5e5;
  border: 0;
  border-radius: 0.1rem;
  color: #0a8;
  height: 0.2rem;
  position: relative;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background: 0 0;
  border-radius: 0.1rem;
}

.progress::-webkit-progress-value {
  background: #0a8;
  border-radius: 0.1rem;
}

.progress::-moz-progress-bar {
  background: #0a8;
  border-radius: 0.1rem;
}

.progress:indeterminate {
  animation: progress-indeterminate 1.5s linear infinite;
  background: #e5e5e5 linear-gradient(to right, #0a8 30%, #e5e5e5 30%) top left/150% 150% no-repeat;
}

.progress:indeterminate::-moz-progress-bar {
  background: 0 0;
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  display: block;
  height: 1.2rem;
  width: 100%;
}

.slider:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 170, 136, 0.2);
  outline: 0;
}

.slider.tooltip:not([data-tooltip])::after {
  content: attr(value);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #0a8;
  border: 0;
  border-radius: 50%;
  height: 0.6rem;
  margin-top: -0.25rem;
  transition: transform 0.2s;
  width: 0.6rem;
}

.slider::-moz-range-thumb {
  background: #0a8;
  border: 0;
  border-radius: 50%;
  height: 0.6rem;
  transition: transform 0.2s;
  width: 0.6rem;
}

.slider::-ms-thumb {
  background: #0a8;
  border: 0;
  border-radius: 50%;
  height: 0.6rem;
  transition: transform 0.2s;
  width: 0.6rem;
}

.slider:active::-webkit-slider-thumb {
  transform: scale(1.25);
}

.slider:active::-moz-range-thumb {
  transform: scale(1.25);
}

.slider:active::-ms-thumb {
  transform: scale(1.25);
}

.slider.disabled::-webkit-slider-thumb, .slider:disabled::-webkit-slider-thumb {
  background: #ececec;
  transform: scale(1);
}

.slider.disabled::-moz-range-thumb, .slider:disabled::-moz-range-thumb {
  background: #ececec;
  transform: scale(1);
}

.slider.disabled::-ms-thumb, .slider:disabled::-ms-thumb {
  background: #ececec;
  transform: scale(1);
}

.slider::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-radius: 0.1rem;
  height: 0.1rem;
  width: 100%;
}

.slider::-moz-range-track {
  background: #e5e5e5;
  border-radius: 0.1rem;
  height: 0.1rem;
  width: 100%;
}

.slider::-ms-track {
  background: #e5e5e5;
  border-radius: 0.1rem;
  height: 0.1rem;
  width: 100%;
}

.slider::-ms-fill-lower {
  background: #0a8;
}

.timeline .timeline-item {
  display: flex;
  display: -ms-flexbox;
  margin-bottom: 1.2rem;
  position: relative;
}

.timeline .timeline-item::before {
  background: #d3d3d3;
  content: "";
  height: 100%;
  left: 11px;
  position: absolute;
  top: 1.2rem;
  width: 2px;
}

.timeline .timeline-item .timeline-left {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.timeline .timeline-item .timeline-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2px 0 2px 0.8rem;
}

.timeline .timeline-item .timeline-icon {
  align-items: center;
  border-radius: 50%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 1.2rem;
  justify-content: center;
  text-align: center;
  width: 1.2rem;
}

.timeline .timeline-item .timeline-icon::before {
  border: 0.1rem solid #0a8;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.4rem;
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  width: 0.4rem;
}

.timeline .timeline-item .timeline-icon.icon-lg {
  background: #0a8;
  line-height: 1.2rem;
}

.timeline .timeline-item .timeline-icon.icon-lg::before {
  content: none;
}

.viewer-360 {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.viewer-360 .viewer-slider[max="36"][value="1"] + .viewer-image {
  background-position-y: 0;
}

.viewer-360 .viewer-slider[max="36"][value="2"] + .viewer-image {
  background-position-y: 2.8571428571%;
}

.viewer-360 .viewer-slider[max="36"][value="3"] + .viewer-image {
  background-position-y: 5.7142857143%;
}

.viewer-360 .viewer-slider[max="36"][value="4"] + .viewer-image {
  background-position-y: 8.5714285714%;
}

.viewer-360 .viewer-slider[max="36"][value="5"] + .viewer-image {
  background-position-y: 11.4285714286%;
}

.viewer-360 .viewer-slider[max="36"][value="6"] + .viewer-image {
  background-position-y: 14.2857142857%;
}

.viewer-360 .viewer-slider[max="36"][value="7"] + .viewer-image {
  background-position-y: 17.1428571429%;
}

.viewer-360 .viewer-slider[max="36"][value="8"] + .viewer-image {
  background-position-y: 20%;
}

.viewer-360 .viewer-slider[max="36"][value="9"] + .viewer-image {
  background-position-y: 22.8571428571%;
}

.viewer-360 .viewer-slider[max="36"][value="10"] + .viewer-image {
  background-position-y: 25.7142857143%;
}

.viewer-360 .viewer-slider[max="36"][value="11"] + .viewer-image {
  background-position-y: 28.5714285714%;
}

.viewer-360 .viewer-slider[max="36"][value="12"] + .viewer-image {
  background-position-y: 31.4285714286%;
}

.viewer-360 .viewer-slider[max="36"][value="13"] + .viewer-image {
  background-position-y: 34.2857142857%;
}

.viewer-360 .viewer-slider[max="36"][value="14"] + .viewer-image {
  background-position-y: 37.1428571429%;
}

.viewer-360 .viewer-slider[max="36"][value="15"] + .viewer-image {
  background-position-y: 40%;
}

.viewer-360 .viewer-slider[max="36"][value="16"] + .viewer-image {
  background-position-y: 42.8571428571%;
}

.viewer-360 .viewer-slider[max="36"][value="17"] + .viewer-image {
  background-position-y: 45.7142857143%;
}

.viewer-360 .viewer-slider[max="36"][value="18"] + .viewer-image {
  background-position-y: 48.5714285714%;
}

.viewer-360 .viewer-slider[max="36"][value="19"] + .viewer-image {
  background-position-y: 51.4285714286%;
}

.viewer-360 .viewer-slider[max="36"][value="20"] + .viewer-image {
  background-position-y: 54.2857142857%;
}

.viewer-360 .viewer-slider[max="36"][value="21"] + .viewer-image {
  background-position-y: 57.1428571429%;
}

.viewer-360 .viewer-slider[max="36"][value="22"] + .viewer-image {
  background-position-y: 60%;
}

.viewer-360 .viewer-slider[max="36"][value="23"] + .viewer-image {
  background-position-y: 62.8571428571%;
}

.viewer-360 .viewer-slider[max="36"][value="24"] + .viewer-image {
  background-position-y: 65.7142857143%;
}

.viewer-360 .viewer-slider[max="36"][value="25"] + .viewer-image {
  background-position-y: 68.5714285714%;
}

.viewer-360 .viewer-slider[max="36"][value="26"] + .viewer-image {
  background-position-y: 71.4285714286%;
}

.viewer-360 .viewer-slider[max="36"][value="27"] + .viewer-image {
  background-position-y: 74.2857142857%;
}

.viewer-360 .viewer-slider[max="36"][value="28"] + .viewer-image {
  background-position-y: 77.1428571429%;
}

.viewer-360 .viewer-slider[max="36"][value="29"] + .viewer-image {
  background-position-y: 80%;
}

.viewer-360 .viewer-slider[max="36"][value="30"] + .viewer-image {
  background-position-y: 82.8571428571%;
}

.viewer-360 .viewer-slider[max="36"][value="31"] + .viewer-image {
  background-position-y: 85.7142857143%;
}

.viewer-360 .viewer-slider[max="36"][value="32"] + .viewer-image {
  background-position-y: 88.5714285714%;
}

.viewer-360 .viewer-slider[max="36"][value="33"] + .viewer-image {
  background-position-y: 91.4285714286%;
}

.viewer-360 .viewer-slider[max="36"][value="34"] + .viewer-image {
  background-position-y: 94.2857142857%;
}

.viewer-360 .viewer-slider[max="36"][value="35"] + .viewer-image {
  background-position-y: 97.1428571429%;
}

.viewer-360 .viewer-slider[max="36"][value="36"] + .viewer-image {
  background-position-y: 100%;
}

.viewer-360 .viewer-slider {
  cursor: ew-resize;
  -ms-flex-order: 2;
  margin: 1rem;
  order: 2;
  width: 60%;
}

.viewer-360 .viewer-image {
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  -ms-flex-order: 1;
  max-width: 100%;
  order: 1;
}

/*# sourceMappingURL=se.css.map */
